node_modules/
.next/
out/
.next.d.ts

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*.local

*.log
npm-debug.log*

.DS_Store
Thumbs.db

tsconfig.tsbuildinfo
*.tsbuildinfo

.pnp/
.pnp.js
.yarn/

stitch_sound_box/
